
<ul>
  <li attributes="attributes" ng-class="getClass('/about')"><a ng-href="#/about">about</a></li>
  <li attributes="attributes" ng-class="getClass('/portfolio')"><a ng-href="#/portfolio">portfolio</a></li>
  <li attributes="attributes" ng-class="getClass('/activities')"><a ng-href="#/activities">activities</a></li>
  <li attributes="attributes" ng-class="getClass('http://blog.solidcraft.eu')"><a ng-href="http://blog.solidcraft.eu">blog</a></li>
  <li attributes="attributes" ng-class="getClass('jakubn@gmail.com')"><a ng-href="mailto:jakubn@gmail.com">contact</a></li>
</ul>