
<div ng-controller="PageCtrl">
  <div id="about" scroll-spy="scroll-spy" parallax="0.3" page="1" class="section background1">
    <div class="centered">
      <div class="container">
        <div class="row darkenBox">
          <div class="span6">
            <h1>You know how this journey starts</h1>
            <p>You take a ten years old, who doesn't go well with other kids but has a knack for mathematics, you give him an<a href="http://en.wikipedia.org/wiki/Commodore_64"> 8 bit computer</a> and a<a href="http://en.wikipedia.org/wiki/Neuromancer"> book</a>, and a few years later he's graduating in IT from a<a href="http://www.uwm.edu.pl/en/"> university</a> or<a href="http://www.wat.edu.pl"> two</a>.</p>
            <p>
              A bit earlier, the boy gets a job as a systems analyst, but it's boring in the long run, so he moves to programming.
               He finds a mentor to learn from, and to point to the right books. Few years more, and he is a team leader.
            </p>
            <p>
              When the boy is versatile enough to handle all the parts of the development process, and communicative enough to
               understand and solve business problems, you finally have a<a href="http://en.wikipedia.org/wiki/Software_developer"> software developer.</a>
            </p>
          </div>
          <div class="span6">
            <h1>And where it goes</h1>
            <p>
              That's pretty much how it worked for me. People are defined by their quirks and traits, and I've soon discovered,
              I cannot work with bad code. It just steals all the fun and motivation I have.
              This pushed me into<a href="http://en.wikipedia.org/wiki/Test-driven_development"> Test Driven Development</a> and<a href="http://en.wikipedia.org/wiki/Software_craftsmanship"> Software Craftsmanship</a> movement. I just didn't have any other choice.
            </p>
            <p>The larger the system gets, the harder it is to get it right. After failing miserably, I've finally found, that<a href="http://en.wikipedia.org/wiki/Domain-driven_design"> Domain Driven Design</a> provides a good foundation for handling that problem. Together with processes following<a href="http://agilemanifesto.org/"> Agile Manifesto</a>, like Scrum or Kanban, I was finally able to deliver quality on time.
               And it didn't turn into a big ball of mud with increasing size.
            </p>
            <p>Oh, and by the way, I am Jakub Nabrdalik. Nice to meet you.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="portfolio" scroll-spy="scroll-spy" page="0.5" class="section background2">
    <div class="centered">
      <div class="container">
        <div class="row">
          <div class="span12">
            <p>Most of my professional life, I worked in software houses:<a href="http://zeto.olsztyn.pl"> zeto</a>,<a href="http://www.smi.pl"> smi</a>,<a href="http://k2.pl"> k2</a>,<a href="http://touk.pl"> TouK</a> (an extremely agile software house with very wide area of expertise) writing thin client dedicated applications
              for external customers, in languages like Groovy, Java, C#, PHP, and using plethora of technologies.
              I do everything from analysis, programming, modeling, architecture, coaching to managing projects.
            </p>
            <p>
              Scott Adams once wrote, that the biggest correlation you can find between all the winning candidates for president of the USA,
              is height and lots of hair, which I suppose explains, why I am usually a team leader or a project manager.
              Lately, I've joined<a href="http://www.4financeit.com/"> 4finance</a> and got promoted into the Head of Software Development in Poland role, where my job is to organize everything (including architecture) so that other people can do all the cool hacking.
              My focus is still on programming.
              I just love writing code and solving business problems.
            </p>
            <p>Some of the systems, I've worked on, include:</p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="span12">
            <h3>Finance</h3>
            <p>
              Loan management, anti-fraud and lending platform solutions are interesting domains themselves, but what is even more interesting,
              is changing the architecture, culture, organization and methods of a relatively small corporation to handle several products in 12 countries, and not get hurt by the<a href="en.wikipedia.org/wiki/Conway's_law"> Conway's law</a> while growing extremely fast (triple the development size in a year). Microservices, devops culture and self organized Scrum teams come in handy.
            </p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="span4">
            <h3>Mobile Banking</h3>
            <p>
              If USA is the third world in terms of personal financial services and Europe is the second, Africa is the first.
              We've built a mobile banking system for a bank in Nigeria, months before their competitors managed to integrate an out-of-the-box product.
            </p>
            <p>Were we cheaper? Sure. Were we faster? Definitely. Do we have more features? Absolutely. Were we easier to cooperate with? Hell yeah!</p>
          </div>
          <div class="span4">
            <h3>Telco</h3>
            <p>
              There are 4 big telcos in Poland: T-Mobile (PTC), P4, Polkomtel, Orange. I've worked on dedicated applications for 3 of them, including
              network monitoring, invoicing and customer relation management systems.
            </p>
            <p>
              Telcos are the very definition of enterprise-level and big data. You don't get more enterprise than that, unless you are watching Star Trek. Projects for telcos are
              always interesting, their requirements are rarely trivial, and the fact that what you do have direct influence on tens of millions of people
              is fascinating.
            </p>
          </div>
          <div class="span4">
            <h3>eCommerce</h3>
            <p>
              Boy, I've done a lot of those. Mostly small to medium size, for companies like Nokia, DaimlerChrysler, Hoopla, Raypath, KDC, and many others.
              Not really surprising, given you can buy everything on the Internet right now.
            </p>
            <p>
              This domain is sweet because you tend to use it yourself, thus you are getting to understand not only the technical problems,
              but also the very core of the business. Doesn't matter how good your software is, if you cannot make the pricing rules flexible enough to get on the top of price comparison engines.
            </p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="span4">
            <h3>Data management systems</h3>
            <p>
              How do you create a system for handling all the data? How about building base blocks, some samples and letting your customer
              configure the rest? You know, Lego/Ikea style. Suprisingly, it worked.
            </p>
          </div>
          <div class="span4">
            <h3>Content management systems</h3>
            <p>
              I've never had so much fun as with content management systems. This is the heart of information technology. I was lucky to be able to build
              one from the scratch in technologies and times, when not everybody had a CMS around.
            </p>
          </div>
          <div class="span4">
            <h3>Enterprise resource planning</h3>
            <p>
              I've had my share here as well. Both with creating ERP from the scratch, and integrating open-source system with everything else around.
              This domain tends to grow exponentially. Just like requirements.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="activities" scroll-spy="scroll-spy" parallax="0.3" page="1" class="section background3">
    <div class="centered">
      <div class="container">
        <div class="row darkenBox">
          <div class="span6">
            <h1>Activities</h1>
            <p>
              Apart from regular work and hacking, I go to a lot of conferences, meetings, hackathons, and alike, for inspiration and knowledge. At some point I started giving talks and leading workshops myself.
              Each talk requires a lot of research, even if I use that technology everyday at work,
              so it helps me to get better, while helping others as well. Pure win-win situation.
              Here is a list of such events, and a few of a different kind, to keep me motivated.
            </p>
            <h1>2014</h1>
            <p>I gave "eXtreme Programming" talk at<a href="2014.agilebyexample.com"> AgileByExample conference</a> in Warsaw</p>
            <p>I gave "Game of throneware, or how not to get killed when a developer becomes a manager" talk at<a href="jpiknik.pl"> jPiknik</a> in Warsaw, at<a href="14.jdd.org.pl"> JDD conference</a> in Cracow and JUGtoberfest event organized by Java User Group Łódź (<a href="https://docs.google.com/presentation/d/17e8vMaIS0jLE5hBf5wlYc4VK5_tjr_bPgJJKlXllQRg/edit?usp=sharing">slides</a>)</p>
            <p>Together with my collegues, I organized<a href="microhackaton.github.io/2014"> microhackaton</a>, a hackathon about microservices</p>
            <p>I led a<a href="www.youtube.com/watch?v=JYVX42ASHNI"> Spring Security Workshop</a> at<a href="http://www.meetup.com/Warsaw-Spring-Labs/"> Warsaw Spring Labs</a>in Warsaw</p>
            <p>I gave<a href="www.youtube.com/watch?v=RQEsSCwsRf0"> Spring framework lecture</a> at JInkubator in Warsaw</p>
            <p>Together with Tomasz Szymański and Marcin Grzejszczak, I've created<a href="www.meetup.com/Warsaw-Groovy-User-Group"> Warsaw Groovy User Group</a>, with regular meetings.</p>
            <p>I led<a href="http://www.meetup.com/Warsaw-Spring-Labs/events/163218782/"> "Spring Data JPA"</a> workshop at<a href="http://www.meetup.com/Warsaw-Spring-Labs/"> Warsaw Spring Labs</a></p>
            <h1>2013</h1>
            <p>I wrote a chapter "The Root of All Evil" for Tomek Kaczanowski's book<a href="http://www.amazon.com/Bad-Tests-Good-Tomek-Kaczanowski/dp/8393847133"> "Bad Tests, Good Tests"</a> (you can download digital copy for free<a href="http://practicalunittesting.com/btgt.php"> here</a>)</p>
            <p>I led "Test Driven Development for beginners" workshop at<a href="http://2013.agilebyexample.com/"> Agile by Example</a> conference in Warsaw (<a href="https://docs.google.com/presentation/d/1JluKlftNzKnf3EWFQSDWPaONm95MFtRT4OZBFpt9uA0/edit?usp=sharing">slides</a>,<a href="https://github.com/jakubnabrdalik/abetdd"> code</a>)</p>
            <p>I lead 4 workshops about git, during<a href="http://v2.gitkata.pl"> Gitkata 2</a></p>
            <p>I gave<a href="http://youtu.be/wbAtJlbRhbQ"> "Test Driven Traps"</a> talk at:<a href="http://2013.confitura.pl/"> Confitura</a> conference in Warsaw,<a href="http://2013.33degree.org/for_charity.html"> 33rd Degree for charity</a> conference in Krakow,<a href="http://www.jug.poznan.pl/"> Poznań Java User Group</a>, and<a href="http://trojmiasto.jug.pl"> Trójmiasto Java User Group</a> (<a href="https://docs.google.com/presentation/d/1eVrz_9894uTbNEQ6Xxc7dGCFO1t_UksBy3NzUXwYxfg/edit?usp=sharing">slides</a>)</p>
            <p>I gave "Apocomito, or what problems DDD, CQRS, NoSQL and microservices solved for me" talk at<a href="http://jpiknik.pl"> j.Piknik</a> in Warsaw (<a href="https://docs.google.com/presentation/d/1e9MuRVEf8aL499_2OnE3rYFvRPo5a__FoQwU5CFufeQ/edit?usp=sharing">slides</a>)</p>
            <p> Together with Piotr Jagielski, I wrote<a href="http://www.packtpub.com/spring-security-startert/book"> a small book about Spring Security framework</a>, and got it published.</p>
            <p>I led "Test Driven Development" workshop at<a href="http://test.kata.org.pl/"> Testkata</a> in Warsaw</p>
            <p>I gave<a href="http://youtu.be/r3wIYOggWmU?t=1h11m56s"> "MongoDB"</a> talk at<a href="http://warszawa.jug.pl/"> Warsaw Java User Group</a> (<a href="https://docs.google.com/presentation/d/1JnHnYBWWyvoqlvQmDTIkj0tzzDg1F1uaC8od7riquPY/edit?usp=sharing">slides</a>)</p>
            <p>I gave "QA in the day of Test Driven Development" talk at Kariera Testera</p>
            <p>I gave "Job interviews in Software Development" talk at<a href="http://warszawa.jug.pl/"> Warsaw Java User Group</a>, together with Jakub Kubryński, and Tomasz Szymański (<a href="https://docs.google.com/presentation/d/1KaaIuorkhQeT3ofBJu82ZvnqICg0jAFDVtJn7_j3tj0/edit?usp=sharing">slides</a>)</p>
            <p>I gave one of opening talks at<a href="https://www.hackerleague.org/hackathons/name-collision"> "NameCollison Hackathon"</a> (<a href="https://docs.google.com/presentation/d/14vmqnKPefpK8LCUw2kzedvstyRFN3sbQsFfql4Mn6Dw/edit?usp=sharing">slides</a>)</p>
            <p>I gave<a href="http://youtu.be/_y1LP-mQTKU?t=46m19s"> "Spock"</a> flashtalk at<a href="http://warszawa.jug.pl/"> Warsaw Java User Group</a> (<a href="https://github.com/jakubnabrdalik/spock-examples-wjugflashtalks">code</a>)</p>
            <p>I led 5 workshops about git, during<a href="http://v1.gitkata.pl"> Gitkata</a></p>
            <p>Together with six other guys, I became an organizer of<a href="http://warszawa.jug.pl/"> Warsaw Java User Group</a> meetings. We are responsible for keeping our regular lectures interesting, and a few mundane tasks, like the web page, sponsors and so on.</p>
          </div>
          <div class="span6">
            <h1>2012</h1>
            <p><a href="http://www.methodsandtools.com/"> Methods & Tools</a> published my article, titled<a href="http://www.methodsandtools.com/PDF/mt201204.pdf"> "Test Driven Development Traps"</a></p>
            <p>I gave "Test Driven Traps" talk at<a href="http://www.topconf.com/"> Topconf</a> conference in Tallinn</p>
            <p>I gave<a href="http://youtu.be/kYUPerT-AzY"> "Don't write in Java. You know better languages even if you're not aware of it yet"</a> talk at<a href="http://2012.confitura.pl/"> Confitura</a> conference, with Tomasz Przybysz (<a href="https://docs.google.com/presentation/d/1O52sR75uszCYu-gp_xP4rCu8DTvmLoV-bYgEiCvl-rw/edit?usp=sharing">slides</a>)</p>
            <p>I gave „Beautiful failures, when good things go bad, a few case studies" Birds of Feather session at<a href="http://2012.33degree.org/"> 33rd Degree Conference</a> in Krakow and at<a href="http://agilewarsaw.com/"> Agile Warsaw</a> group (<a href="https://docs.google.com/presentation/d/1E9PF0YlPwK1fLe28jyz5o6UIGIEVt4iJiXcc8Pevi6o/edit?usp=sharing">slides</a>)</p>
            <p>I got invited to the Program Committee of<a href="http://4developers.org.pl/"> 4developers</a> conference, where I helped a bit finding interesting speakers and choosing talks from Call For Papers</p>
            <h1>2011</h1>
            <p>I was an instructor and organizer of Agile Development Day, one day open meeting for those who want to share their experience with Agile methods</p>
            <p>I gave “Winter go home, a gentle introduction to Spring Framework” talk at<a href="http://warszawa.jug.pl/"> Warsaw Java User Group</a></p>
            <p>I gave “Teamwork in software development” lecture for students at Faculty of Mathematics, Informatics and Mechanics,<a href="uw.edu.pl"> University of Warsaw</a></p>
            <p>I held “Hack your company: what a developer can do, to get fun and money from learning”, Birds of Feather session at<a href="http://2011.33degree.org/"> 33rd Degree Conference</a> in Krakow</p>
            <p>I gave “Spring Security & Spring Social: how to integrate Google and Facebook in a Java web application” talk at<a href="http://warszawa.jug.pl/"> Warsaw Java User Group</a></p>
            <p>I gave “Animating Developers” talk at<a href="http://agilewarsaw.com/"> Agile Warsaw</a> group</p>
            <h1>2010</h1>
            <p>I led Software Craftsmanship workshops at Warsaw Design Patterns Study Group</p>
            <p>I gave Software Craftsmanship talk at<a href="http://warszawa.jug.pl/"> Warsaw Java User Group</a></p>
            <p>I led a panel about team building and quality at COOLuary (unconference part of NYAC conference) in Krakow</p>
            <p>I gave<a href="http://www.google.com/url?sa=t&amp;rct=j&amp;q=&amp;esrc=s&amp;source=web&amp;cd=1&amp;ved=0CCkQFjAA&amp;url=http%3A%2F%2Fparleys.com%2Fplay%2F514892270364bc17fc56bfc2&amp;ei=_TBlUsmCN8mrhQfqm4HIBg&amp;usg=AFQjCNGoUVSY6JR3joMvEAiz78i3plORPw&amp;sig2=Oi2T4fBhhtmIp5W_NG2WpA&amp;bvm=bv.54934254,d.ZG4&amp;cad=rja"> “How to prevent code biodegradation”</a> talk at Javarsovia conference in Warsaw</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>